:root {
  --background: #ffffff;
  --foreground: #333333;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
